window[pxlalert]
{
  -moz-border-radius: 5px;
}

#pxl-actions,
#pxl-iframe-box
{
  display: none;
}


window[pxlalert] #pxl-iframe-box
{
  display: none;
}

window[pxlalert] .alertBox
{
  width: 300px!important;
  height: auto!important;
  background-color: #fff;
  overflow: hidden;
}

window[pxlalert] .alertBox label
{
  color: #000;
}

window[pxlalert] #pxl-actions
{
  display: -moz-box;
}

#alertNotification[clickable="true"] {
  cursor: inherit;
}

#pxl-close-button
{
  -moz-image-region: rect(3px, 13px, 13px, 3px);
  list-style-image: url(chrome://html5notifications/content/icons/close.png);
}

#pxl-close-button .toolbarbutton-icon { -moz-margin-start: 4px; }

/* HTML */
#pxl-iframe
{
  border: none;
}
window[pxlalert=html] #pxl-iframe { overflow: auto; }
window[pxlalert=html] #pxl-iframe-box
{
  display: block;
}
window[pxlalert=html] #pxl-values { display: none; }
window #alertBox { display: none; }
window[pxlalert] #alertImage { max-height: 48px; max-width: 48px; }

window[pxlalert] #pxl-values { color: #000; background-color: #fff; padding: .5em; }
window[pxlalert] #pxl-image-container { height: 48px; width: 48px; }
window[pxlalert] #pxl-image { max-height: 48px; max-width: 48px; }
window[pxlalert] #pxl-title { font-weight: bold; font-size: 1.1em; margin: .2em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 250px !important; }
window[pxlalert] #pxl-text  { margin: .2em; line-height: 1.2em; height: 2.4em; width: 250px; overflow: hidden; text-overflow: ellipsis; }

